/*fuentes importadas*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
*{
	margin: 0;
	padding: 0;
	top: 0;
}
html, body{
	font-family: 'Lato', sans-serif, Arial;
	font-weight: 400;
	position: absolute;
	height: 100%;
	min-width: 100%;
	font-size: 15px;
	color: #404040;
	direction: ltr;/*Direccion de escritura, por defecto de derecha a izquierda*/
}
header{
	background-color: #444;
    height: 50px;
    padding: 10px;
}
header .user{
    color: #fff;
    font-family: 'Lato', Roboto;
    font-size: 17px;
}
header nav{
    float: right;
}
nav a{
    text-decoration: none;
    color: #fff;
}
.navbar-brand{
    font-family: 'Roboto', Lato;
}
.container{
    margin-top: 50px;
}
.post{
    width: 373px;
    float: left;
}
.post-pages{
    width: 100%;
}
.post-user{
    width: 24%;
    float: left;
}
.margin-post{
    margin-left: 10px;
}
.title-post{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', Lato;
}
.title-post:hover{
    text-decoration: none;
}
.panel-body{
    text-align: justify;    
}
.panel-body img{
    display: block;
    margin: 0 auto;
}
.nav-pills{
    margin-top: 5px;
}
.credit{
    text-align: center;
}
.password{
    display: block;
    font-size: 17px;
    font-family: 'Roboto', Lato;
    font-weight: 400;
}
.password-hidde{
    background-color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    padding: 2px;
    font-size: 15;
    text-align: center;
    width: 120px;
    color: #333;
}
.password-hidde:hover{
    color: #fff;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
.center{
    width: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.salto{
    margin-bottom: 10px;
}
.date{
    float: right;
    margin-left: 5px;
    width: 150px;
}
.date-search{
    float: right;
    margin-left: 5px;
    width: 320px;
}
.n-label{
    color: #444;
    font-family: 'Lato', Roboto;
    font-weight: 300;
    margin-top: 5px;
}
.addbtn{
    margin-top: 5px;
}
.msg-error{
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-family: 'Roboto', Lato, Verdana;
    color: red;
}
.mensaje{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 5px;
}
.documento-delete{
    font-weight: bold;
}
.data-not{
    text-align: center;
    font-size: 16px;
    color: red;
}
.data-not img{
    display: inline-block;
}
.total{
    background-color: #ccc;
    height: auto;
    font-size: 16px;
    text-align: right;
    padding: 2px 2px 2px 2px;
}
.center-plus{
    text-align: center;
}
.conte{
    background: #fff;
    height: auto;
    padding: 10px;
    margin-bottom: 30px;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); 
}
.page-header{
    color: #21acec;
    text-align: center;
    font-family: 'Roboto', Lato;
}
.contenido{
    font-family: 'Lato';
    font-weight: 400;
}
.description{
    border-radius: 3px;
    border: solid #ccc 1px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}
.text{
    font-size: 16px;
}
.title-delete{
    color: #d9534f;
}
.delete{
    border-left: solid 5px #d9534f;
}
.title-help{
    color: #5cb85c;
}
.add{
    border-left: solid 5px #5cb85c;
}
.title-see{
    color: #5e4485;
}
.see{
    border-left: solid 5px #5e4485;
}
.title-edit{
    color: #f0ad4e;
}
.edit{
    border-left: solid 5px #f0ad4e;
}
.images{
    width: 100%;
    margin-top: 15px;
    
}
.foter-img{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
.ejemplos{
    width: 50%;
}
.atras{
    float: right;
    display: inline-block;
    font-size: 16px;
}
.atras a{
    padding: 5px;
}
.error-ps:focus{
    border-color: #e12741;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(213, 13, 41, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(213, 13, 41, .6);
}
.error-ps{
    border: 1px solid #e67a89;
}
.programing{
    margin-left: 15px;
    font-style: italic;
}
/*Preloader*/
.loader-wrapper{
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    z-index: 1000;
    margin: 0 auto;
}
.loader{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
.loader:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100%{
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@media only screen and (max-width: 800px){
    .post{
        width: 100%;
        float: none;
    }
    .margin-post{
        margin-left: 10;
    }
    .container{
        margin-top: 10px;
    }
    .post-user{
        width: 48%;
    }
}

@media only screen and (max-width: 580px){
    .post{
        width: 100%;
        float: none;
    }
    .margin-post{
        margin-left: 0;
    }
    .container{
        margin-top: 10px;
    }
    .post-user{
        width: 100%;
        float: none;
    }
}